@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    /* height: 100vh; */
    margin: 0 200px;
    /* margin: 0;
    padding: 0; */
    overflow: auto;
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #292727;
    /* color: white; */
}

/* Header */
a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

ul li a {
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    /* padding: 16px; */
    /* border: 2px solid red; */
}

/* Hero */

.hero {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    margin: 100px auto;
}

/* .hero div {
    margin: 16px;
    padding: 16px;
} */
.leftHero {
    width: 500px;
    /* border: 2px solid red; */
}

.rightHero {
    width: 30%;
}

.portfolioPic {
    max-height: 400px;
}

.leftHero h1 {
    font-size: 70px;
    margin: 0;
    padding: 0;
}

.leftHero h2 {
    font-size: 23px;
    color: #00FFBD;
}

.leftHero p {
    font-size: 16px;
}

/* Projects */

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 32px; */
    gap: 32px;

}

.projects .projectCard {
    border: 1px solid white;
    height: 300px;
    width: 400px;
    /* gap: 16px; */
    padding: 16px;
    border-radius: 10px;
}

.projects h2 {
    color: #00FFBD;
}

/* Skill and Technologies*/

.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 32px;
}

.skillCard {
    /* border: 1px solid white; */
    height: 200px;
    width: 150px;
    /* gap: 16px; */
    padding: 16px;
    text-align: center;
    
}

.skillCard > h2 {
    margin-top: 10px;
    color: #999999;
}

.skillCard > img {
    max-height: 100px;
    /* max-width: 100px; */
}